src/*.exe
src/ChinaCurrencyCoind
src/build.h
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.ChinaCurrencyCoin
#compilation and Qt preprocessor part
*.qm
Makefile
ChinaCurrencyCoin-qt
#resources cpp
qrc_*.cpp
#qt creator
*.pro.user
#mac specific
.DS_Store
build

!src/leveldb/Makefile
